.header{
    background-color:  #6aa84f;
    width: 100vw;
    height: 140px;
    margin-bottom: 20px;
}

.navigation{
    flex: 1;
    background-color: #6fa8dc;
    height: 500px;
    width: 350px;
    margin-right: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    background-color: #e06666;
    flex: 3;
    height: 600px;
}

.subcontents{
    background-color: #ffd966;
    height: 400px;
    width: 335px;
}

.advertisement{
    background-color: #b4a7d6;
    width: 1050px;
    height: 140px;
}