.App {
  text-align: center;
}

.navbar1{
  display: flex;
  font-size: x-large;
  margin-left: 40px;
  margin-top: 30px;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  margin-top: 20px;
  border: 2px solid black;
}

.content2{
  display: flex;
  flex-direction: column;
  margin: 0px 40px;
  margin-top: 20px;
  border: 2px solid black;
}

.navbar2{
  display: flex;
  justify-content: flex-start;
  font-size: xx-large;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#addbtn{
  background-color: #009e0f;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  color: white;
  width: 150px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 25px;
}

.addplayerform{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: 20px 40px;
}

.addplayerform h2{
  display: flex;
  margin-left: 40px;
  margin-top: 10px;
}

.addplayerinput{
  display: flex;
  justify-content: space-between;
  margin: 10px 150px;
}

.addplayerbtn{
  display: flex;
  justify-content: flex-end;
  margin-right: 150px;
}

.label1{
  margin-left: 50px;
}

.input1{
  width: 60%;
  margin-right: 100px;
}

.error{
  color: red;
  display: flex;
  justify-content: center;
}

#deletebtn{
  background-color: red;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  color: white;
  width: 100px;
  height: 30px;
  font-size: large;
}

.navbar3 h1{
  display: flex;
  justify-content: flex-start;
  margin: 40px;
}

.gamelinks{
  font-size: x-large;
  margin-bottom: 40px;
}

#playingbtn{
  background-color: #009e0f;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  width: 150px;
  height: 30px;
  font-size: large;
}

#notplayingbtn{
  background-color: #cf2a27;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  width: 150px;
  height: 30px;
  font-size: large;
}

#undecidedbtn{
  background-color: #ffff00;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  width: 150px;
  height: 30px;
  font-size: large;
}