.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;
  width: 100%;
}

.inputblocks{
  display: flex;
  align-items: center;
  width: 400px;
  height: 60px;
  justify-content: space-between;
  background-color: #f6f6f6;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.input{
  height: 30px;
  width: 200px;
  border: 1px solid #f6f6f6;
}

.createbtn{
  margin-top: 30px;
  width: 200px;
  height: 30px;
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 50px;
}

.productcard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.allproducts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.allproductsbtn{
  margin-top: 5px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.oneproductbtns{
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.btn{
  background-color: #e6e6e6;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

#product{
  color: black;
}

#product:hover{
  text-decoration: underline;
}

#edit_btn{
  color: black;
  text-decoration: none;
}